body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Background{
  position: static;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: -0.05vh;
}

.navPos{
  margin: 0.3vh;
}

.companyName{
  font-family: "Times New Roman", Times, serif;
  font-weight:bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.1;
}

.opelLogo{
  content:url('./images/opelLogo.svg');
  height: 40px;
  width: 40px;
}

.text-box{
  text-align: center;
  padding: 1rem 1rem;
  text-transform: uppercase;
}